<!DOCTYPE html>
<html lang="pt" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Assembly - Nível 1</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Font Awesome minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="css/navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TIDIR</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Sobre</a></li>
              <li><a href="#">Contato</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Nível 1 <span class="sr-only">(current)</span></a></li>
              <li><a href="nivel2.html">Nível 2 <span class="sr-only">(current)</span></a></li>
              <li><a href="nivel3.html">Nível 3 <span class="sr-only">(current)</span></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Operações matemáticas</h1>
        <p>Para ver como funcionam operações matemáticas em Assembly, digite nos campos abaixo os valores dos operandos, e o tipo
        de operação  +, -, * ou /.</p>
        <div class="col-md-12">
          <div class="col-md-1">
            <input type="text" class="form-control" placeholder="var1" autofocus="true" ng-model="var1">
          </div>
          <div class="col-md-1">
            <input type="text" class="form-control" placeholder="=" disabled="true">  
          </div> 
          <div class="col-md-1">
            <input type="text" class="form-control" placeholder="2" ng-model="var2">  
          </div>
          <div class="col-md-1">
            <input type="text" class="form-control" placeholder="+" ng-model="operador">  
          </div>  
          <div class="col-md-1">
            <input type="text" class="form-control" placeholder="4" ng-model="var3">  
          </div>
        </div>
      </div>

      <div class="row">
        <!-- código assembly -->
        <div class="col-md-6">
          <div class="jumbotron">
          <p align="center" ng-show="operador == '' || operador == null">
            Código em Assembly
            <h2 align="center" ng-show="operador == '' || operador == null"><i class="fa fa-terminal"></i></h2>
          </p>
            <!-- soma -->
            <p ng-show="operador == '+'">
               <code>1.</code> <b>addi</b> $s0, $zero, <mark>{{var2}}</mark>; <br/>
               <code>2.</code> <b>addi</b> $s1, $zero, <mark>{{var3}}</mark>; <br/>
               <code>3.</code> <b>add</b> <abbr title="{{var1}}">$t0</abbr>, $s0, $s1;
            </p>
            <!-- /soma -->

            <!-- subtração -->
            <p ng-show="operador == '-'">
              <code>1.</code> <b>addi</b> $s0, $zero, <mark>{{var2}}</mark>; <br/>
              <code>2.</code> <b>addi</b> $s1, $zero, <mark>{{var3}}</mark>; <br/>
              <code>3.</code> <b>sub</b> <abbr title="{{var1}}">$t0</abbr>, $s0, $s1;
            </p>
            <!-- /subtração -->
            
            <!-- multiplicação -->
            <p ng-show="operador == 'x' || operador == '*'">
               <code>1.</code> <b>addi</b> $s0, $zero, <mark>{{var2}}</mark>; <br/>
               <code>2.</code> <b>addi</b> $s1, $zero, <mark>{{var3}}</mark>; <br/>
               <code>3.</code> <b>mul</b> <abbr title="{{var1}}">$t0</abbr>, $s0, $s1;
            </p>
            <!-- /multiplicação -->
            
            <!-- divisão -->
            <p ng-show="operador == '/'">
               <code>1.</code> <b>addi</b> $s0, $zero, <mark>{{var2}}</mark>; <br/>
               <code>2.</code> <b>addi</b> $s1, $zero, <mark>{{var3}}</mark>; <br/>
               <code>3.</code> <b>div</b> <abbr title="{{var1}}">$t0</abbr>, $s0, $s1;
            </p>
            <!-- /divisão -->
          </div>
          <!-- /código assembly -->
        </div>

        <!-- explicação do código -->
        <div class="col-md-6">
          <p align="center" class="lead" ng-show="operador == '' || operador == null">
            Explicação do código em Assembly
            <h2 align="center" ng-show="operador == '' || operador == null"><i class="fa fa-book"></i></h2>
            <h2 align="center" ng-show="operador == '' || operador == null">...</h2>
          </p>
          <!-- soma -->
          <p class="lead" ng-show="operador == '+'">
            <strong><code>1.</code></strong> O comando <b>addi</b> adiciona o valor imediáto {{var2}}, ao registrador <mark>$s0</mark>.
            <br/>
            <strong><code>2.</code></strong> O comando <b>addi</b> adiciona o valor imediáto {{var3}}, ao registrador <mark>$s1</mark>.
            <br/>
            <strong><code>3.</code></strong> O comando <b>add</b> faz a operação de <b>soma</b> entre os valores dos registradores <mark>$s0</mark> e <mark>$s1</mark> <small>({{var2}} + {{var3}})</small>, e atribui ao registrador <mark>$t0</mark><small>( {{var1}} )</small> o resultado da soma.
          </p>
          <!-- /soma -->
          <!-- subtração -->
          <p class="lead" ng-show="operador == '-'">
            <strong><code>1.</code></strong> O comando <b>addi</b> adiciona o valor imediáto {{var2}}, ao registrador <mark>$s0</mark>.
            <br/>
            <strong><code>2.</code></strong> O comando <b>addi</b> adiciona o valor imediáto {{var3}}, ao registrador <mark>$s1</mark>.
            <br/>
            <strong><code>3.</code></strong> O comando <b>sub</b> faz a operação de <b>subtração</b> entre os valores dos registradores <mark>$s0</mark> e <mark>$s1</mark> <small>({{var2}} - {{var3}})</small>, e atribui ao registrador <mark>$t0</mark><small>( {{var1}} )</small> o resultado da subtração.
          </p>
          <!-- /subtração -->
          <!-- multiplicação -->
          <p class="lead" ng-show="operador == 'x' || operador == '*'">
            <strong><code>1.</code></strong> O comando <b>addi</b> adiciona o valor imediáto {{var2}}, ao registrador <mark>$s0</mark>.
            <br/>
            <strong><code>2.</code></strong> O comando <b>addi</b> adiciona o valor imediáto {{var3}}, ao registrador <mark>$s1</mark>.
            <br/>
            <strong><code>3.</code></strong> O comando <b>mul</b> faz a operação de <b>multiplicação</b> entre os valores dos registradores <mark>$s0</mark> e <mark>$s1</mark> <small>({{var2}} * {{var3}})</small>, e atribui ao registrador <mark>$t0</mark><small>( {{var1}} )</small> o resultado da multiplicação.
          </p>
          <!-- /multiplicação -->
          <!-- divisão -->
          <p class="lead" ng-show="operador == '/'">
            <strong><code>1.</code></strong> O comando <b>addi</b> adiciona o valor imediáto {{var2}}, ao registrador <mark>$s0</mark>.
            <br/>
            <strong><code>2.</code></strong> O comando <b>addi</b> adiciona o valor imediáto {{var3}}, ao registrador <mark>$s1</mark>.
            <br/>
            <strong><code>3.</code></strong> O comando <b>div</b> faz a operação de <b>divisão</b> entre os valores dos registradores <mark>$s0</mark> e <mark>$s1</mark> <small>({{var2}} / {{var3}})</small>, e atribui ao registrador <mark>$t0</mark><small>( {{var1}} )</small> o resultado da divisão.
          </p>
          <!-- /divisão -->
        </div>
        <!-- /explicação do código  -->
      </div>

      <hr/>

      <!-- links-úteis -->
      <div class="row">
        <div class="col-md-6">
          <h4><a href="http://www.ic.unicamp.br/~pannain/mc542/aulas/ch3_arq.pdf" target="_blank">Instruções matemáticas no MIPS</a></h4>
          <h4><a href="http://www.di.ubi.pt/~desousa/2011-2012/LFC/mips.pdf" target="_blank">Introdução curta ao MIPS</a></h4>
        </div>
        <div class="col-md-6">
          <h4><a href="http://pt.slideshare.net/elainececiliagatto/conjunto-de-instrues-mips-introduo" target="_blank"> Entendendo o Assembly do MIPS</a></h4>
        </div>
      </div>

      <br/>
      <!-- /links-uteis -->

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
  </body>
</html>
