<!DOCTYPE html>
<html lang="pt" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Assembly - Nível 2</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Font Awesome minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="css/navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">

    </script>
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TIDIR</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Sobre</a></li>
              <li><a href="#">Contato</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="index.html">Nível 1 <span class="sr-only">(current)</span></a></li>
              <li class="active"><a href="#">Nível 2 <span class="sr-only">(current)</span></a></li>
              <li><a href="nivel3.html">Nível 3 <span class="sr-only">(current)</span></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Estruturas condicionais</h1>
        <p>Para ver como funcionam instruções condicionais em Assembly, digite nos campos abaixo os valores do teste condicional, e  operador aritmético desejado: <br/>
        <small> maior <b>></b>, maior ou igual <b>>=</b>, menor <b><</b> , menor ou igual <b><=</b>, igual <b>==</b>, ou diferente <b>!=</b></small></p>
      </div>

      <div class="row">
      <!-- estruturas condicionais -->
        <div class="col-md-6">
          <!-- if-else -->
          <p class="lead" ng-show="operador == '/'">
              <h3>
                <code>if <input type="text" ng-model="var1" placeholder="var1" size="6"> <input type="text" ng-model="operador" placeholder="==" size="3"> <input type="text" ng-model="var2" placeholder="var2" size="6"> {</code>
              </h3> 
              <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>a = 2;</code></h3>
              <h3><code>} else {</code></h3>
              <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>a = 10;</code></h3>
              <h3><code>}</code></h3>
          </p>
          <!-- /if-else -->
        </div>
        <!-- /estruturas condicionais  -->

        <!-- código assembly -->
        <div class="col-md-6">
          <div class="jumbotron">
          <p align="center" ng-show="operador == '' || operador == null">
            Código em Assembly
            <h2 align="center" ng-show="operador == '' || operador == null"><i class="fa fa-terminal"></i></h2>
          </p>
            <!-- igual -->
            <p ng-show="operador == '=='">
               <code>1.</code> <b>bne</b> <abbr title="{{var1}}">$s0</abbr>, <abbr title="{{var2}}">$s1</abbr>, else; <br/>
               <code>2.</code> <b>addi</b> <abbr title="a">$t0</abbr>, $zero, 2; <br/>
               <code>3.</code> <b>jfim</b> <br/>
               <code>4.</code> else: <b>addi</b> <abbr title="a">$t0</abbr>, $zero, 10; <br/>
               <code>5.</code> <b>fim</b>
            </p>
            <!-- /igual-->

            <!-- diferente -->
            <p ng-show="operador == '!='">
               <code>1.</code> <b>beq</b> <abbr title="{{var1}}">$s0</abbr>, <abbr title="{{var2}}">$s1</abbr>, else; <br/>
               <code>2.</code> <b>addi</b> <abbr title="a">$t0</abbr>, $zero, 2; <br/>
               <code>3.</code> <b>jfim</b> <br/>
               <code>4.</code> else: <b>addi</b> <abbr title="a">$t0</abbr>, $zero, 10; <br/>
               <code>5.</code> <b>fim</b>
            </p>
            <!-- /diferente -->

          </div>
          <!-- /código assembly -->
        </div>
      </div>
      <hr/>

      <!-- links-úteis -->
      <div class="row">
        <div class="col-md-6">
          <h4><a href="http://www.ic.unicamp.br/~pannain/mc542/aulas/ch3_arq.pdf" target="_blank">Instruções matemáticas no MIPS</a></h4>
          <h4><a href="http://www.di.ubi.pt/~desousa/2011-2012/LFC/mips.pdf" target="_blank">Introdução curta ao MIPS</a></h4>
        </div>
        <div class="col-md-6">
          <h4><a href="http://pt.slideshare.net/elainececiliagatto/conjunto-de-instrues-mips-introduo" target="_blank"> Entendendo o Assembly do MIPS</a></h4>
          <h4><a href="http://www.ebah.com.br/content/ABAAAA4WQAD/tutorial-linguagem-assembly" target="_blank">Apostila: Tutorial Assembly</a></h4>
        </div>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
  </body>
</html>
